import pyloidLogo from './assets/pyloid_icon.png';
import './App.css';
<% if (backend === 'pyloidrpc') { %>
import { baseAPI, rpc } from 'pyloid-js';
<% } else if (backend === 'pyloidipc') { %>
import { baseAPI, ipc } from 'pyloid-js';
<% } else { %>
import { baseAPI, fetch } from 'pyloid-js';
<% } %>
import { useState } from 'react';

function App() {
  const [message, setMessage] = useState('');

  return (
    <>
      <div>
        <img src={pyloidLogo} className='logo pyloid' alt='Pyloid logo' />
      </div>
      <h1>Pyloid App</h1>
      <div className='card'>
        <button
          className='action-button'
          onClick={async () => {
            <% if (backend === 'pyloidrpc') { %>
            const message = await rpc.call('greet', { name: 'John' });
            <% } else if (backend === 'pyloidipc') { %>
            const message = await ipc.CustomIPC.echo('Hello');
            <% } else { %>
            const message = await fetch('/greet?name=John').then((res) =>
              res.text()
            );
            <% } %>
            setMessage(message);
          }}
        >
          Greet
        </button>
        <button
          className='action-button'
          onClick={() => {
            <% if (backend === 'pyloidrpc') { %>
            rpc.call('create_window');
            <% } else if (backend === 'pyloidipc') { %>
            ipc.CustomIPC.create_window();
            <% } else { %>
            fetch('/create_window');
            <% } %>
          }}
        >
          Create Window
        </button>
        <button className='action-button' onClick={() => baseAPI.close()}>
          Close
        </button>
      </div>
      <div>
        <p>{message}</p>
        <a href='https://pyloid.com'>Visit Pyloid</a>
      </div>
    </>
  );
}

export default App;
